<h1>Como Remover colunas e Linas</h1>
<br>
<i> 
• Importar biblioteca pandas<br>
• Importar arquivo Excel<br>
• Remover uma única coluna <br>
• Remover todas colunas em branco (NaN) <br>
• Remover Múltiplas colunas<br>
• Remover Linhas em branco (how='any') e (how='all') <br>
• Remover Linha </i> <br>




<br><b> axis = 0:</b> <i> LINHA </i> <br>
<b> axis = 1:</b> <i> COLUNA </i>

In [1]:
#Importando o Pandas
#Excel já tem cabeçalho (skiprows=0)

import pandas as pd
dataset = pd.read_excel('coluna_apagar.xlsx',skiprows=0)
display(dataset)

,Coluna A,Coluna B,Coluna C,Coluna D,Coluna E,Coluna F,Coluna G,Coluna H,Coluna I,Coluna J,Coluna K,Coluna L,Coluna Apagar
0,A001,B001,10.0,D001,E001,F001,G001,H001,NaN,NaN,NaN,NaN,Apagar
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apagar
2,A003,B003,3.0,D003,E003,F003,G003,H003,NaN,NaN,NaN,NaN,Apagar
3,A004,B004,7.0,D004,E004,F004,G004,H004,NaN,NaN,NaN,NaN,Apagar
4,A005,B005,8.0,D005,E005,F005,G005,H005,NaN,NaN,NaN,NaN,Apagar
5,NaN,B005,NaN,NaN,E006,F006,G006,H006,NaN,NaN,NaN,NaN,Apagar
6,A007,NaN,9.0,D007,E007,F007,G007,H007,NaN,NaN,NaN,NaN,Apagar
7,A008,B008,NaN,D008,E008,F008,G008,H008,NaN,NaN,NaN,NaN,Apagar
8,A009,B009,1.0,D009,E009,F009,G009,H009,NaN,NaN,NaN,NaN,Apagar
9,A010,B010,2.0,D010,E010,F010,G010,H010,I010,NaN,NaN,NaN,Apagar
10,A011,B011,3.0,D011,E011,F011,G011,H011,I011,NaN,NaN,NaN,Apagar
11,A012,NaN,4.0,D012,E012,F012,G012,H012,I012,NaN,NaN,NaN,Apagar
12,A013,B013,5.0,D013,E013,F013,G013,H013,I013,NaN,NaN,NaN,Apagar
13,A014,B014,6.0,D014,E014,F014,G014,H014,I014,NaN,NaN,NaN,Apagar
14,A015,B015,7.0,D015,E015,F015,G015,H015,I015,NaN,NaN,NaN,Apagar
15,A015,B015,8.0,D015,E016,F016,NaN,H016,I016,NaN,NaN,NaN,Apagar
16,A015,B015,9.0,D015,E017,F017,NaN,NaN,I017,NaN,NaN,NaN,Apagar
17,NaN,B018,10.0,D018,E018,F018,NaN,NaN,I018,NaN,NaN,NaN,Apagar
18,A019,NaN,11.0,D019,E019,F019,NaN,NaN,I019,NaN,NaN,NaN,Apagar

<h3> Remover uma coluna  </h3>

In [2]:
dataset = dataset.drop(['Coluna Apagar'], axis=1)
display(dataset)

#axis = 1 é coluna
#axis = 0 é linha

,Coluna A,Coluna B,Coluna C,Coluna D,Coluna E,Coluna F,Coluna G,Coluna H,Coluna I,Coluna J,Coluna K,Coluna L
0,A001,B001,10.0,D001,E001,F001,G001,H001,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A003,B003,3.0,D003,E003,F003,G003,H003,NaN,NaN,NaN,NaN
3,A004,B004,7.0,D004,E004,F004,G004,H004,NaN,NaN,NaN,NaN
4,A005,B005,8.0,D005,E005,F005,G005,H005,NaN,NaN,NaN,NaN
5,NaN,B005,NaN,NaN,E006,F006,G006,H006,NaN,NaN,NaN,NaN
6,A007,NaN,9.0,D007,E007,F007,G007,H007,NaN,NaN,NaN,NaN
7,A008,B008,NaN,D008,E008,F008,G008,H008,NaN,NaN,NaN,NaN
8,A009,B009,1.0,D009,E009,F009,G009,H009,NaN,NaN,NaN,NaN
9,A010,B010,2.0,D010,E010,F010,G010,H010,I010,NaN,NaN,NaN
10,A011,B011,3.0,D011,E011,F011,G011,H011,I011,NaN,NaN,NaN
11,A012,NaN,4.0,D012,E012,F012,G012,H012,I012,NaN,NaN,NaN
12,A013,B013,5.0,D013,E013,F013,G013,H013,I013,NaN,NaN,NaN
13,A014,B014,6.0,D014,E014,F014,G014,H014,I014,NaN,NaN,NaN
14,A015,B015,7.0,D015,E015,F015,G015,H015,I015,NaN,NaN,NaN
15,A015,B015,8.0,D015,E016,F016,NaN,H016,I016,NaN,NaN,NaN
16,A015,B015,9.0,D015,E017,F017,NaN,NaN,I017,NaN,NaN,NaN
17,NaN,B018,10.0,D018,E018,F018,NaN,NaN,I018,NaN,NaN,NaN
18,A019,NaN,11.0,D019,E019,F019,NaN,NaN,I019,NaN,NaN,NaN

<h3> Removendo todas as colunas em branco (NaN) </h3>
<i> Todas as colunas onde Todas as linhas estão em branco </i>

In [3]:
dataset = dataset.dropna(how='all', axis=1)
display(dataset)

,Coluna A,Coluna B,Coluna C,Coluna D,Coluna E,Coluna F,Coluna G,Coluna H,Coluna I
0,A001,B001,10.0,D001,E001,F001,G001,H001,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A003,B003,3.0,D003,E003,F003,G003,H003,NaN
3,A004,B004,7.0,D004,E004,F004,G004,H004,NaN
4,A005,B005,8.0,D005,E005,F005,G005,H005,NaN
5,NaN,B005,NaN,NaN,E006,F006,G006,H006,NaN
6,A007,NaN,9.0,D007,E007,F007,G007,H007,NaN
7,A008,B008,NaN,D008,E008,F008,G008,H008,NaN
8,A009,B009,1.0,D009,E009,F009,G009,H009,NaN
9,A010,B010,2.0,D010,E010,F010,G010,H010,I010
10,A011,B011,3.0,D011,E011,F011,G011,H011,I011
11,A012,NaN,4.0,D012,E012,F012,G012,H012,I012
12,A013,B013,5.0,D013,E013,F013,G013,H013,I013
13,A014,B014,6.0,D014,E014,F014,G014,H014,I014
14,A015,B015,7.0,D015,E015,F015,G015,H015,I015
15,A015,B015,8.0,D015,E016,F016,NaN,H016,I016
16,A015,B015,9.0,D015,E017,F017,NaN,NaN,I017
17,NaN,B018,10.0,D018,E018,F018,NaN,NaN,I018
18,A019,NaN,11.0,D019,E019,F019,NaN,NaN,I019

<h3> Remover multiplas colunas, utilizando o nome da coluna </h3>

In [4]:
dataset = dataset.drop(['Coluna E','Coluna F','Coluna G','Coluna H','Coluna I'], axis=1)
display(dataset)

   Coluna A Coluna B  Coluna C Coluna D
0      A001     B001      10.0     D001
1       NaN      NaN       NaN      NaN
2      A003     B003       3.0     D003
3      A004     B004       7.0     D004
4      A005     B005       8.0     D005
5       NaN     B005       NaN      NaN
6      A007      NaN       9.0     D007
7      A008     B008       NaN     D008
8      A009     B009       1.0     D009
9      A010     B010       2.0     D010
10     A011     B011       3.0     D011
11     A012      NaN       4.0     D012
12     A013     B013       5.0     D013
13     A014     B014       6.0     D014
14     A015     B015       7.0     D015
15     A015     B015       8.0     D015
16     A015     B015       9.0     D015
17      NaN     B018      10.0     D018
18     A019      NaN      11.0     D019

<h3> Remover Linhas em Branco </h3><br>
<i> dataset.dropna(how='all', axis=0)-> apaga se todas as linhas estiverem sem valor<br>
<i> dataset.dropna(how='any', axis=0)-> apaga qualquer linha que tiver sem valor

In [5]:
#Remove quando TODAS AS LINHAS estiverem em branco 
dataset = dataset.dropna(how='all', axis=0)
display(dataset)


#================================================
#OBS: Veja que REMOVEU apenas a linha do ÍNDICE 1

   Coluna A Coluna B  Coluna C Coluna D
0      A001     B001      10.0     D001
2      A003     B003       3.0     D003
3      A004     B004       7.0     D004
4      A005     B005       8.0     D005
5       NaN     B005       NaN      NaN
6      A007      NaN       9.0     D007
7      A008     B008       NaN     D008
8      A009     B009       1.0     D009
9      A010     B010       2.0     D010
10     A011     B011       3.0     D011
11     A012      NaN       4.0     D012
12     A013     B013       5.0     D013
13     A014     B014       6.0     D014
14     A015     B015       7.0     D015
15     A015     B015       8.0     D015
16     A015     B015       9.0     D015
17      NaN     B018      10.0     D018
18     A019      NaN      11.0     D019

In [6]:
#Remove quando linha quando qualquer coluna estiver em branco 
dataset = dataset.dropna(how='any', axis=0)
display(dataset)

#================================================
#OBS: agora foram REMOVIDAS as linhas dos indices:
# 5, 6, 7, 11, 17 e 18

   Coluna A Coluna B  Coluna C Coluna D
0      A001     B001      10.0     D001
2      A003     B003       3.0     D003
3      A004     B004       7.0     D004
4      A005     B005       8.0     D005
8      A009     B009       1.0     D009
9      A010     B010       2.0     D010
10     A011     B011       3.0     D011
12     A013     B013       5.0     D013
13     A014     B014       6.0     D014
14     A015     B015       7.0     D015
15     A015     B015       8.0     D015
16     A015     B015       9.0     D015

<h3> Remover Linhas por INDEX </h3>

In [7]:
# Perceba que as linhas do index 0 e 2 foram deletadas
dataset = dataset.drop([0,2], axis=0)
display(dataset)

   Coluna A Coluna B  Coluna C Coluna D
3      A004     B004       7.0     D004
4      A005     B005       8.0     D005
8      A009     B009       1.0     D009
9      A010     B010       2.0     D010
10     A011     B011       3.0     D011
12     A013     B013       5.0     D013
13     A014     B014       6.0     D014
14     A015     B015       7.0     D015
15     A015     B015       8.0     D015
16     A015     B015       9.0     D015

<h3> Remover linhas duplicadas </h3>

In [8]:
# Removendo linhas duplicadas apenas da COLUNA A

dataset = dataset.drop_duplicates(subset='Coluna A')
display(dataset)

   Coluna A Coluna B  Coluna C Coluna D
3      A004     B004       7.0     D004
4      A005     B005       8.0     D005
8      A009     B009       1.0     D009
9      A010     B010       2.0     D010
10     A011     B011       3.0     D011
12     A013     B013       5.0     D013
13     A014     B014       6.0     D014
14     A015     B015       7.0     D015