<h1>Pivot (Transformar colunas em Index e valores em colunas)</h1>
<br>
<i> 
• Importar biblioteca pandas<br>
• Importar arquivo Excel<br>
• Transformar: 'COD' em índice,'Função' em Colunes e 'Total de Vendas' em Valores <br>
• Transformar: 'COD' em índice,'Loja' em Colunes e 'Total de Vendas' em Valores <br><br>
    • <b>Transformar:</b><br>
    'COD' e 'ID' em índice.
    <br>'Função'e 'Loja' em Colunas.
    <br>'Total de Vendas' em Valores <br>
    
substituir os valores NaN para '-'</i>

In [40]:
#Importando o Pandas
#Excel já tem cabeçalho (skiprows=0)

import pandas as pd
dataset = pd.read_excel('pivot.xlsx',skiprows=0)
display(dataset)

        Função         Loja  Total de Vendas   ID      COD
0    Atendente      Guarujá             1000  100  GJA-100
1   Balconista      Guarujá             1300  101  GJA-101
2        Caixa      Guarujá             1200  102  GJA-102
3        Caixa      Guarujá              800  103  GJA-103
4        Caixa      Guarujá              500  104  GJA-104
5        Caixa       Santos             1654  105  STO-105
6        Caixa       Santos             1895  106  STO-106
7        Caixa       Santos              921  107  STO-107
8        Caixa       Santos             1021  108  STO-108
9    Atendente       Santos             1099  109  STO-109
10  Balconista       Santos             2300  110  STO-110
11  Balconista       Santos              700  111  STO-111
12   Atendente  São Vicente              785  112  SVT-112
13  Balconista  São Vicente              960  113  SVT-113
14       Caixa  São Vicente             1300  114  SVT-114
15   Atendente  São Vicente             1400  115  SVT-115
16  Balconista  São Vicente             1230  116  SVT-116

<h3>PIVOT</h3>

<i> <b>Transformar:</b>
 <br> <b>• 'COD'</b> em índice,
<br><b>• 'Função'</b> em Colunas e 
<br><b>• 'Total de Vendas'</b> em Valores </i>

In [55]:
dataset_funcao = dataset.pivot(index='COD',columns='Função', values='Total de Vendas')
dataset_funcao = dataset.fillna('-')
display(dataset_funcao)

        Função         Loja  Total de Vendas   ID      COD
0    Atendente      Guarujá             1000  100  GJA-100
1   Balconista      Guarujá             1300  101  GJA-101
2        Caixa      Guarujá             1200  102  GJA-102
3        Caixa      Guarujá              800  103  GJA-103
4        Caixa      Guarujá              500  104  GJA-104
5        Caixa       Santos             1654  105  STO-105
6        Caixa       Santos             1895  106  STO-106
7        Caixa       Santos              921  107  STO-107
8        Caixa       Santos             1021  108  STO-108
9    Atendente       Santos             1099  109  STO-109
10  Balconista       Santos             2300  110  STO-110
11  Balconista       Santos              700  111  STO-111
12   Atendente  São Vicente              785  112  SVT-112
13  Balconista  São Vicente              960  113  SVT-113
14       Caixa  São Vicente             1300  114  SVT-114
15   Atendente  São Vicente             1400  115  SVT-115
16  Balconista  São Vicente             1230  116  SVT-116

<i> <b>Transformar:</b>
 <br> <b>• 'COD'</b> em índice,
<br><b>• 'Loja'</b> em Colunas e 
<br><b>• 'Total de Vendas'</b> em Valores </i>

In [42]:
dataset_loja = dataset.pivot(index='COD',columns='Loja',values='Total de Vendas')
dataset_loja = dataset_loja.fillna('-')
display(dataset_loja)

Loja    Guarujá Santos São Vicente
COD
GJA-100    1000      -           -
GJA-101    1300      -           -
GJA-102    1200      -           -
GJA-103     800      -           -
GJA-104     500      -           -
STO-105       -   1654           -
STO-106       -   1895           -
STO-107       -    921           -
STO-108       -   1021           -
STO-109       -   1099           -
STO-110       -   2300           -
STO-111       -    700           -
SVT-112       -      -         785
SVT-113       -      -         960
SVT-114       -      -        1300
SVT-115       -      -        1400
SVT-116       -      -        1230

<i> <b>Transformar:</b>
 <br> <b>• 'ID' e 'COD'</b> em índice,
<br><b>• 'Loja' e 'Função'</b> em Colunas e 
<br><b>• 'Total de Vendas'</b> em Valores </i>

In [52]:
dataset_geral = dataset.pivot(index=['ID','COD'],columns=['Loja','Função'],values='Total de Vendas')
dataset_geral = dataset_geral.fillna('-')
display(dataset_geral)

Loja          Guarujá                  Santos                       \
Função      Atendente Balconista Caixa  Caixa Atendente Balconista
ID  COD
100 GJA-100      1000          -     -      -         -          -
101 GJA-101         -       1300     -      -         -          -
102 GJA-102         -          -  1200      -         -          -
103 GJA-103         -          -   800      -         -          -
104 GJA-104         -          -   500      -         -          -
105 STO-105         -          -     -   1654         -          -
106 STO-106         -          -     -   1895         -          -
107 STO-107         -          -     -    921         -          -
108 STO-108         -          -     -   1021         -          -
109 STO-109         -          -     -      -      1099          -
110 STO-110         -          -     -      -         -       2300
111 STO-111         -          -     -      -         -        700
112 SVT-112         -          -     -      -         -          -
113 SVT-113         -          -     -      -         -          -
114 SVT-114         -          -     -      -         -          -
115 SVT-115         -          -     -      -         -          -
116 SVT-116         -          -     -      -         -          -

Loja        São Vicente
Função        Atendente Balconista Caixa
ID  COD
100 GJA-100           -          -     -
101 GJA-101           -          -     -
102 GJA-102           -          -     -
103 GJA-103           -          -     -
104 GJA-104           -          -     -
105 STO-105           -          -     -
106 STO-106           -          -     -
107 STO-107           -          -     -
108 STO-108           -          -     -
109 STO-109           -          -     -
110 STO-110           -          -     -
111 STO-111           -          -     -
112 SVT-112         785          -     -
113 SVT-113           -        960     -
114 SVT-114           -          -  1300
115 SVT-115        1400          -     -
116 SVT-116           -       1230     -