<h1> JOIN- Unir Linhas </h1>
<br>
<i>
• Importar biblioteca pandas <br>
• Importar 2 arquivos Excel<br>
• Unir as duas tabelas <br>
• Junção com todos valores que tem em comum com a tabela da <u>ESQUERDA</u> <br>
• Junção com todos valores que tem em comum com a tabela da <u>DIREITA</u> <br>
• Apenas os dados que estão em comum em ambas tabelas  <br> 
• Todos os valores unidos <br>

In [16]:
import pandas as pd
dataset1 = pd.read_excel('equipamentos_1.xlsx')
dataset2 = pd.read_excel('equipamentos_2.xlsx')

display(dataset1)
display(dataset2)

      COD        Equipamento
0   PC001         Computador
1   PE001              Mouse
2   PE002            Teclado
3   PE003            Monitor
4   PE004         Impressora
5   PE005            Scanner
6   SM001         Smartphone
7   SM002             Tablet
8   PC002           Notebook
9   PE006           Cabo VGA
10  PE007           Cabo DVI
11  PE008  Cabo Display Port
12  PE009          Cabo HDMI
13  PE010       Cabo de Rede

       Equipamento  QTD
0       Computador    7
1            Mouse   31
2          Teclado   29
3          Monitor   10
4       Impressora    9
5          Scanner    4
6       Smartphone   55
7           Tablet   32
8           WebCam   26
9   Fone de ouvido   30
10        PenDrive   23
11      HD Externo   13
12  Câmera Digital    6
13           Drone    2

<h3> Junção com todos valores que tem em comum com a tabela da <u>ESQUERDA</u> </h3>

In [17]:
#======================================================
#Todos os equipamentos que estão no dataset2 (direita)
#que não tinha no dataset1 (esquerda) não vieram

dataset_left = dataset1.join(dataset2.set_index('Equipamento'), on='Equipamento', how='left')
display(dataset_left)

      COD        Equipamento   QTD
0   PC001         Computador   7.0
1   PE001              Mouse  31.0
2   PE002            Teclado  29.0
3   PE003            Monitor  10.0
4   PE004         Impressora   9.0
5   PE005            Scanner   4.0
6   SM001         Smartphone  55.0
7   SM002             Tablet  32.0
8   PC002           Notebook   NaN
9   PE006           Cabo VGA   NaN
10  PE007           Cabo DVI   NaN
11  PE008  Cabo Display Port   NaN
12  PE009          Cabo HDMI   NaN
13  PE010       Cabo de Rede   NaN

<h3> Junção com todos valores que tem em comum com a tabela da <u>DIREITA</u> </h3>

In [18]:
#====================================================
#Todos os equipamentos que estão no dataset1 (esquerda)
#que não tinha no dataset2 (direita) não vieram

dataset_right = dataset1.join(dataset2.set_index('Equipamento'), on='Equipamento', how='right')
display(dataset_right)

       COD     Equipamento  QTD
0.0  PC001      Computador    7
1.0  PE001           Mouse   31
2.0  PE002         Teclado   29
3.0  PE003         Monitor   10
4.0  PE004      Impressora    9
5.0  PE005         Scanner    4
6.0  SM001      Smartphone   55
7.0  SM002          Tablet   32
NaN    NaN          WebCam   26
NaN    NaN  Fone de ouvido   30
NaN    NaN        PenDrive   23
NaN    NaN      HD Externo   13
NaN    NaN  Câmera Digital    6
NaN    NaN           Drone    2

<h3> Apenas os dados que estão em comum em ambas tabelas </h3>

In [19]:
#===========================================
# Apenas os dados que estão em comum em ambas
# tabelas (baseado na coluna equipamento)

dataset_inner = dataset1.join(dataset2.set_index('Equipamento'), on='Equipamento', how='inner')
display(dataset_inner)

     COD Equipamento  QTD
0  PC001  Computador    7
1  PE001       Mouse   31
2  PE002     Teclado   29
3  PE003     Monitor   10
4  PE004  Impressora    9
5  PE005     Scanner    4
6  SM001  Smartphone   55
7  SM002      Tablet   32

<h3>Todos os valores unidos </h3>

In [20]:
#===================================
#Todas os valores unidos, indepedente se tem comum ou não

dataset_inner = dataset1.join(dataset2.set_index('Equipamento'), on='Equipamento', how='outer')
display(dataset_inner)

        COD        Equipamento   QTD
0.0   PC001         Computador   7.0
1.0   PE001              Mouse  31.0
2.0   PE002            Teclado  29.0
3.0   PE003            Monitor  10.0
4.0   PE004         Impressora   9.0
5.0   PE005            Scanner   4.0
6.0   SM001         Smartphone  55.0
7.0   SM002             Tablet  32.0
8.0   PC002           Notebook   NaN
9.0   PE006           Cabo VGA   NaN
10.0  PE007           Cabo DVI   NaN
11.0  PE008  Cabo Display Port   NaN
12.0  PE009          Cabo HDMI   NaN
13.0  PE010       Cabo de Rede   NaN
NaN     NaN             WebCam  26.0
NaN     NaN     Fone de ouvido  30.0
NaN     NaN           PenDrive  23.0
NaN     NaN         HD Externo  13.0
NaN     NaN     Câmera Digital   6.0
NaN     NaN              Drone   2.0